@media only screen and (max-width: 450px) {
	.header-block {
		max-width: 90%;
		margin: auto;
		text-align: center;
	}

	.header-nav {
		display: block;
		padding-top: 35px;
		margin-bottom: 50px;
	}

	.menu li {
		margin-right: auto;
		margin-left: auto;
		font-size: 12px;
		line-height: 14px;
		margin-top: 15px;
	}

	.header-text .h1 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.header-text p {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 40px;
	}

	.header-text {
		padding-bottom: 50px;
	}

	.about-text {
		max-width: 90%;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.about-block {
		text-align: left;
		margin: auto;
	}

	h3 {
		margin: 0;
		font-size: 24px;
		line-height: 29,09px;
		margin-bottom: 20px;
	}

	.about-text p {
		font-size: 12px;
		line-height: 15px;
	}

	.skills-text {
		max-width: 90%;
		margin: auto;
		padding: 25px 0;
		text-align: center;
	}

	.skills-block {
		display: block;
	}

	.skills-value {
		max-width: 100%;
		font-size: 12px;
	}

	.skills-value div {
		font-size: 12px;
		text-align: left;
	}

	.skills-block-3 div, .skills-block-1 div {
		width: 211px;
	}

	.value-1, .value-2, .value-3 {
		width: 211px;
		height: 18px;
		background-color: #F5D6AB;
	}
	.value-1 div, .value-2 div, .value-3 div {
		width: 135px;
		height: 18px;
		background-color: #C66C49;
	}

	.value-2 div {
		width: 165px;
	}

	.value-3 div {
		width: 180px;
	}

	.skills-block-1 h5 {
		margin-bottom: 30px;
	}

	.skills-value h5 {
		margin-bottom: 10px;
	}

	.skills-block img {
		width: 224px;
		margin-bottom: 25px;
	}
}