@media only screen and (max-width: 450px) {
	.header-block {
		max-width: 90%;
		margin: auto;
		text-align: center;
	}

	.header-nav {
		display: block;
		padding-top: 35px;
		margin-bottom: 50px;
	}

	.menu li {
		margin-right: auto;
		margin-left: auto;
		font-size: 12px;
		line-height: 14px;
		margin-top: 15px;
	}

	.header-text .h1 {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 15px;
	}

	.header-text p {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 40px;
	}

	.header-text {
		padding-bottom: 50px;
	}

	.about-text {
		max-width: 90%;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.about-block {
		text-align: left;
		margin: auto;
	}

	h3 {
		margin: 0;
		font-size: 24px;
		line-height: 29,09px;
		margin-bottom: 20px;
	}

	.about-text p {
		font-size: 12px;
		line-height: 15px;
	}
}